name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Server Image
        uses: docker/build-push-action@v4
        with:
          context: ./server
          push: false
          tags: vistos-server:latest

      - name: Build Client Image
        uses: docker/build-push-action@v4
        with:
          context: ./client
          push: false
          tags: vistos-client:latest
          build-args: |
            VITE_API_URL=http://localhost:3000/api
